# --- Node ---
node_modules/
npm-debug.log*
# On versionne le lockfile npm pour les builds reproductibles
!package-lock.json

# --- Lockfiles alternatifs (non utilisés ici) ---
yarn.lock
pnpm-lock.yaml

# --- Build / Cache ---
dist/
build/
.tmp/
.cache/

# --- Env & secrets ---
.env
.env.local

# --- OS / Editors ---
.DS_Store
.idea/
.vscode/
